@font-face {
  font-family: 'reptile';
  src: url('190114084332BERNIER-Distressed.woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: reptile;
}
* {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  flex-direction: row;
}

.head {
  height: 227px;
  position: relative;
}

.headRed {
  height: 227px;
}

.red {
  background-color: #c26b4b;
  width: 50%;
}

.headLogo {
  height: 144px;
  width: 350px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -72px;
  margin-left: -175px;
}

.black {
  background-color: #000000;
  width: 50%;
}

.triangleDownLeftAngle{
  width: 50%;
  height: 50px;
  background: #ecc35c;
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
  margin-top: -50px;
}

.triangleDownRightAngle {
  width: 50%;
  height: 50px;
  background: #ecc35c;
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  margin-top: -50px;
}

.weKnowBackground {
  background-color: #ecc35c;;
  width: 100%;
  height: 300px;
}

.weKnowText {
  text-align: center;
  color: #cf6542;
  font-size: 150px;
}

.weKnowOrange {
  text-align: center;
  color: #000000;
  font-size: 49px;
}

.triangleUpLeftAngle {
  width: 50%;
  height: 50px;
  background: #ecc35c;
  clip-path: polygon(100% 0%, 0% 100%, 0% 0%);
}

.triangleUpRightAngle {
  width: 50%;
  height: 50px;
  background: #ecc35c;
  clip-path: polygon(100% 100%, 0% 0%, 100% 0%);
}


.rightPartPicture {
  background-color: #cf6542;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pictureDiv {
  background-image: url(pictures/lizz-1003046.jpg);
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.beardedDragons,
.otherReptiles {
  margin-top: -50px;
  height: 470px;
  position: relative;
}

.bernardoText {
  position: absolute;
  top: 203px;
  left: 50px;
}

.flexTriangles {
  position: relative;
  z-index: 2;
}

.sizeTextPictureName {
  font-size: 36px;
}

.discriptionTextSize{
  font-size: 27px;
}

.bernardoRight {
  color: #edc45d;
  font-size: 108px;
  width: 360px;
}

.allBlack {
  background-color: #000000;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.allBlackText {
  text-align: center;
  font-size: 55px;
  width: 1023px;
  margin: 0 auto;
  padding-top: 40px;
}

.allBlackTextSpan1 {
  color: #d16544;
}

.allBlackTextSpan2 {
  color: #e5bc57;
}

.triangleDownLeftAngle{
  width: 50%;
  height: 50px;
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
  margin-top: -50px;
}

.blackTriangle {
  background: #000000;
}

.triangleDownRightAngle {
  width: 50%;
  height: 50px;
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  margin-top: -50px;
}

.blackButtons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.blackButtons .button {
  font-size: 30px;
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  border-width: 2px;
  padding: 5px;
}

.buttonReptiles {
  background-color: #cc6341;
  border-color: #a39690;
  color: #fafcff;
}

.buttonComplete {
  background-color: #638e48;
  border-color: #a39690;
  color: #ebc458;
}

.buttonComprehensive {
  background-color: #f0c459;
  border-color: #a39690;
  color: #cc6a41;
}

.pictureCregory {
  background-image: url(pictures/315486.jpg);
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.pictureCamille {
  background-image: url(pictures/112015_1758_1.jpg);
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.textCreroryDescription {
  position: absolute;
  top: 55px;
  left: 50px;
  color: #000000;
}

.textCreroryDescriptionRight {
  position: absolute;
  top: 55px;
  right: 100px;
  color: #000000;
}

.triangleDownLeftAngleRed {
  width: 50%;
  height: 50px;
  background: #c26b4b;
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
  margin-top: -50px;
  opacity: 1;
}

.textOnBlack {
  color: #f7f7f7;
  font-size: 72px;
  text-align: right;
  width: 100%;
  padding: 50px;
  position: relative;
}

.textOnRightPhone {
  color: #f7f7f7;
  font-size: 41px;
  width: 100%;
  padding: 50px;
}

.location {
  height: 370px;
}

.locationLeft, .locationRight {
  display: flex;
  align-items: center;
}

.textRightName {
  color: #eec15c;
  font-size: 112px;
}

.triangleColorLocationLeft {
  background: #000000;
}

.triangleColorLocationRight {
  background: #c26b4b;
}

.map {
  width: 100%;
  height: 400px;
  margin-top: -50px;
  position: relative;
  display: flex;
  align-items: center;
}

.mapBackGround {
  background-image: url(pictures/map.jpg);
  background-size: cover;
  opacity: 0.5;
  position: absolute ;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.textMap {
  font-size: 150px;
  width: 100%;
  padding-top: 50px;
  color: #000000;
  text-align: center;
  z-index: 1;
  position: relative;
}

.triangleDownRightAngleYelow {
  background-color: #eec35c;
  width: 50%;
  height: 50px;
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  margin-top: -50px;
}

.yellow{
background-color: #eec35c;
width: 50%;
}

.textStore {
  color: #000000;
  font-size: 52px;
  text-align: right;
  width: 100%;
  position: relative;
}

.textMonday, .textSUNDAY {
  color: #cb683d;
  font-size: 52px;
  text-align: right;
  width: 100%;  
  position: relative;
}

.textOnYellow {
  width: 100%;
  padding: 50px;
}

.textOnBlackAdres {
  width: 100%;
  padding: 50px;
  position: relative;
  width: 100%;
  text-align: left;
  font-size: 52px;
}

.blackReptiles {
  color: #eec35c;
}

.text34 {
  color: #cb683d;
}

.triangleColorAdress {
  background: #edc35c;
}

.triangleColorAdresRight {
  background: #000000;
}

.triangleDownLeftAngleRed {
  width: 50%;
  height: 50px;
  background: #cd6341;
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
  margin-top: -50px;
}

.triangleDownRightAngleRed {
  width: 50%;
  height: 50px;
  background: #cd6341;
  clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
  margin-top: -50px;
}

.RedFooter {
  background-color: #cd6341;
  width: 100%;
  height: 600px;
}

.picture {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 40px;
}

.googlePluse {
  display: inline-block;
}
.googlePluseImg {
  width: 50px;
  height: 50px;
  padding: 15px;
}

.facebook {
  display: inline-block;
}

.facebookImg {
  width: 50px;
  height: 50px;
  padding: 15px;
}

.instagram {
  display: inline-block;
}

.instagramImg {
  width: 50px;
  height: 50px;
  padding: 15px;
}

.fotterTextIn {
  text-align: center;
  color: #ffffff;
  font-size: 50px;
}

.fotterTextInLove {
  text-align: center;
  color:  #000000;
  font-size: 40px;
  padding-top: 30px;
}

.fotterText2018 {
  text-align: center;
  color:  #000000;
  font-size: 60px;
  padding-top: 30px;
}

.footerTextAll {
  text-align: center;
  color:  #000000;
  font-size: 40px;
  padding-top: 30px;
}